body {background-color: rgb(39, 17, 59);}
h1 {color: rgb(53, 5, 37);}
.p1{font-size: 250%;
text-align: center;
background-color: rgb(92, 75, 107);
margin-left: 20%;
margin-right: 20%;
border-width: 4cm;
border-color: blueviolet;
border-style: initial;
}
.p2{background-color: rgb(92, 75, 107);
font-size: 112%;
margin-left: 56%;
margin-right: 12%;
margin-top: 5%;
border-width: 5px;
border-style: inset;
border-color: rgb(188, 15, 194);}
.p3{background-color: rgb(92, 75, 107);
    font-size: 112%;
    margin-left: 12%;
    margin-right: 56%;
margin-top: 5%;
    border-width: 5px;
border-style: inset;
border-color: rgb(188, 15, 194);}



